@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .logo {
    margin-right: 76px;
  }

  .site-nav .link {
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: #404bbf;
  }

  .contact {
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }

  .address-list .link:hover,
  .address-list .link:focus {
    color: #404bbf;
  }

  .hero {
    max-width: 1440px;
    gap: 48px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/header-img.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/header-img-2x.jpg);
    }
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero-btn {
    transition: background var(--transition-duration)
      var(--transition-timing-function);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background: #404bbf;
  }

  .feature-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
  }

  .title {
    margin-top: 8px;
  }

  /* About section */

  .about-section {
    display: block;
    padding-top: 0;
  }

  .section-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-text-color);
  }

  .about-list {
    display: flex;
    column-gap: 24px;
    list-style: none;
  }

  .about-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* Team section */

  .team-section {
    padding: 120px 0;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .team-social-icon {
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  .team-social-icon:hover,
  .team-social-icon:focus {
    background-color: #404bbf;
  }

  /* Customers section */

  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
    width: 168px;
    height: 88px;
  }

  .customers-list-item {
    transition: border var(--transition-duration)
      var(--transition-timing-function);
  }

  .customers-list-item:is(:hover, :focus) {
    border: 1px solid #404bbf;
    color: #404bbf;
  }

  .customers-list-icon {
    transition: fill var(--transition-duration)
      var(--transition-timing-function);
  }

  .customers-list-item:is(:hover, :focus) .customers-list-icon {
    fill: currentColor;
  }

  /* Portfolio */

  .portfolio-section {
    padding: 100px 0 120px;
  }

  .portfolio-btn:is(:hover, :focus) {
    background: #404bbf;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .example {
    box-shadow: 0 0 0;
    transition: box-shadow var(--transition-duration)
      var(--transition-timing-function);
  }

  .example:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-social-links {
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  .footer-social-links:hover,
  .footer-social-links:focus {
    background-color: #31d0aa;
  }

  .form-btn {
    transition: background var(--transition-duration)
      var(--transition-timing-function);
  }

  .form-btn:is(:hover, :focus) {
    background: #404bbf;
  }

  .footer-text {
    min-width: 264px;
  }

  /* Overlay */

  .portfolio-overlay {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent);

    overflow: hidden;
  }

  .portfolio-item:is(:hover, :focus) .overlay {
    transform: translatey(-100%);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .overlay {
    transform: translatey(0);
    background-color: var(--accent);
  }

  .overlay-text {
    display: block;
    margin: 40px 32px 0 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
}

/* Modal */

.close-btn {
  transition: background var(--transition-duration)
    var(--transition-timing-function);
}

.close-btn:is(:hover, :focus) {
  background: #404bbf;
  color: #2e2f42;
  border: transparent;
}

.close-btn:is(:hover, :focus) .modal-close {
  fill: #ffffff;
}

.modal-close {
  fill: currentColor;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
