@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo {
    margin-right: 76px;
  }

  .hero {
    max-width: 1440px;
    gap: 48px;
  }
}
